<h1>Stupid Coasching</h1>
<form class="ask" action="/answer">
  <dev class="ask_1">
  <input type="text" name="question" >
  </dev>
  <dev>
  <input id="answer_1" type="submit" value="Ask!">
  </dev>
</form>
