.ask {
  background: lightblue;
  width:500px;
  height: 500px;
}
.ask_1{
  margin-left:50px;
  margin-right: 50px;
  border-radius: 50px;
}
#answer_1{
  color: red;
}
#answer_1:hover {
    color: black;
  }
h1:hover {
    color: pink;
  }
